
<div class="wrapper2"> 
        <div class="title">  <blockquote><h2>{{recipe.name}}</h2></blockquote> </div>
       <div class="Ingredients">   <br><br><blockquote><p><b>Needed:</b></p></blockquote>
          <ul>
          <i> 
      <li>Coffee: {{recipe.coffee.manufacturer.name}} - {{recipe.coffee.name}} - {{recipe.coffeeAmount}}</li>
      <li>Inteded use: {{recipe.intendedUse}}</li> 
      <li>Grind: {{recipe.grindLevel}}</li> 
      <li>Water: {{recipe.waterAmount}} ml / {{recipe.waterTemperature}} °C</li>
            </i>
          </ul>
         </div>
         <div class="Preparation" >
           <blockquote><div id="mydiv"><b>Preparation</b><a></a></div></blockquote>
          <ol>
           <li><span><p style="font-size:20px;">{{recipe.recipeBody}}</p></span></li>
      </ol>
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9734;</span>&#9734;
        </span>
      </ng-template>
      <div style="font-size: x-large; color: orange;"><ngb-rating [max]="5" [(rate)]="overallScore" [starTemplate]="t" [readonly]="false" (rateChange)='onRateChange(overallScore)'></ngb-rating></div>
      </div>
</div>
<div class="class" *ngFor="let user of userScores">{{user.score}} - {{overallScore | number: '1.2-2'}}</div>
<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="form-group shadow-textarea">
                <label for="commentBodyArea">Leave a comment</label>
                <textarea class="form-control z-depth-2" id="commentBodyArea" rows="3" placeholder="Leave your opinion on recipe..." [(ngModel)]="commentBody"></textarea>
                <button type="button" class="btn btn-primary" (click)="addComment()">Send</button>
              </div>
            <div class="headings d-flex justify-content-between align-items-center mb-3">
            </div>
            <div class="card p-3 mt-2" *ngFor="let comment of comments">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> <span><h2 class="font-weight-bold text-primary">{{comment.user.email | removeDomainFromEmail}}</h2> <h3>{{comment.commentBody}} </h3></span> </div> <h3>{{comment.createdDate | date:'dd/MM/yyyy HH:mm'}}</h3>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                </div>
            </div>
        </div>
    </div>
</div>