<div class="wrapper2">
  <div class="title">  
      <blockquote><h2>{{recipe.name}}</h2></blockquote> 
  </div>
  <div class="wrapperLeft">
      <blockquote><p id="neededTitle">Needed</p></blockquote>
        <ul id="neededList">
          <i> 
              <li><a id="listDetails">Coffee: </a>{{recipe.coffee.manufacturer.name}} - {{recipe.coffee.name}} - {{recipe.coffeeAmount}}</li>
              <li><a id="listDetails">Inteded use: </a>{{recipe.intendedUse}}</li> 
              <li><a id="listDetails">Grind: </a>{{recipe.grindLevel}}</li> 
              <li><a id="listDetails">Water: </a>{{recipe.waterAmount}} ml / {{recipe.waterTemperature}} °C</li>
          </i>
        </ul>
  </div>
  <div class="wrapperCentral">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="preparationAndStars">
            <div class="preparationAndStarsLeft">
                <blockquote><div id="mydiv">Preparation</div></blockquote>
            </div>
            <div class="preparationAndStarsRight">
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9734;</span>&#9734;
                    </span>
                </ng-template>
                <div class="starsDetails"><ngb-rating [max]="5" [(rate)]="overallScore" [starTemplate]="t" [readonly]="false" (rateChange)='onRateChange(overallScore)'></ngb-rating></div> 
            </div>
        </div> 
        <div class="steps">
          <p id="preparationSteps"*ngFor="let steps of recipe.recipeBody; let i = index" [attr.data-index] = "i"><a id="listDetails">Step {{i+1}}:</a> {{steps}}</p>
        </div>
        <button type="button" class="btn btn-danger" (click)="deleteRecipe()" *ngIf="checkuserRecipe || userService.isUserAdminGetter">Delete</button>


        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeClick()">
              </button>
              </div>
              <div class="modal-body">
                <app-add-edit-recipe [recipe]="recipe" *ngIf="ActiveAddEditRecipe"></app-add-edit-recipe>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                (click)="editClick()" 
                data-backdrop="static" 
                data-keyboard="false" >update recipe</button>


            <div class="form-group shadow-textarea">
                <label for="commentBodyArea">Please, leave a comment!</label>
                <textarea class="form-control z-depth-2" id="commentBodyArea" rows="3" placeholder="Leave your opinion on recipe..." [(ngModel)]="commentBody"></textarea>
                <div class="sendButton">
                  <div class="sendButtonLeft"></div>
                  <div class="sendButtonRight">
                    <button type="button" class="btn btn-primary" (click)="addComment()">Send</button>
                  </div>
                </div>
              </div>
              <div *ngIf="showError" class="alert alert-danger" role="alert">
                <span *ngFor="let errorMes of errorMessage">{{errorMes}}<br></span>
            </div>
            <div class="headings d-flex justify-content-between align-items-center mb-3">
            </div>
            <div class="card p-3 mt-2" *ngFor="let comment of comments">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> 
                      <span><h4>{{comment.user.email | removeDomainFromEmail}}</h4> <h3>{{comment.commentBody}} </h3></span> </div> <h3>{{comment.createdDate | date:'dd/MM/yyyy HH:mm'}}</h3>
                      <h3><button type="button" class="btn btn-danger" (click)="deleteComment(comment)" *ngIf="comment.userId == userId ||userService.isUserAdminGetter">Delete</button></h3>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="wrapperRight">
  </div>
</div>