
body {
    background-color: #f7f6f6
}

.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px
}

.dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
    margin-top: 4px
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer
}

.form-check-input:focus {
    box-shadow: none
}

.icons i {
    margin-left: 8px
}

.reply {
    margin-left: 12px
}

.reply small {
    color: #b7b4b4
}

.reply small:hover {
    color: green;
    cursor: pointer
}

.wrapper2 {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
    grid-template-columns: 450px 400px 400px;
    grid-template-areas:
"title Preparation Preparation "
    " Ingredients Preparation Preparation"
      "Ingredients Preparation  Preparation";}
.title {grid-area:title; vertical-align:top;background-color:clear;}
.Ingredients {grid-area:Ingredients;   
vertical-align:bottom;background-color:clear;}
.Preparation {grid-area:Preparation;vertical-align:bottom;background-color:clear;}
body{margin:30px;}
.wrapper2 h1{letter-spacing:5px;
font-size:70px;
line-height:10px;
font-family:'Pacifico',cursive}

.wrapper2 h2{font-family:'Pacifico',cursive;
font-size:46px;
line-height:48px;
font-weight:10px;}
.wrapper2 p{font-family:"Raleway",cursive;
white-space: pre-wrap;
font-size:25px;}
#mydiv
{font-family:'Raleway',cursive;
font-size:25px;
}
#mydiv a
{font-size:16px;}
ul{font-family:'Raleway',cursive;
font-size:16px;
}
.ul{vertical-align:bottom;}
ol{font-family:'Raleway',cursive;
font-size:20px;
font-weight: bold;}
li span { font-weight: normal;font-size:16px;}

.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }