<div class="header">
  <div class="headerLeft">
      <p class="logo" id="items"><img src="assets\coffeesharelogo2.png"></p>
      <a class="nav-link" id="items" routerLink="recipes">Recipes</a>
      <a class="nav-link" id="items" *ngIf="userService.isUserAdminGetter" routerLink="coffees">Coffees</a>
      <a class="nav-link" id="items" *ngIf="userService.isUserAdminGetter"   routerLink="manufacturers">Manufacturers</a>
  </div>
  <div class="headerRight">
          <a class="headerRegister" id ="itemRegister" *ngIf="isUserAuthenticated == false" [routerLink]="['/authentication/register']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Register</a>
     
          <a class="headerLogin" id ="itemLogin"*ngIf="isUserAuthenticated == false" [routerLink]="['/authentication/login']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Login</a>

          <a class="nav-link" id="itemLo" *ngIf="isUserAuthenticated" (click)="logout()" [routerLink]="['/authentication/login']"  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" >Logout</a>
        
  </div>
</div>