input{
    width: 100%;
    font-size: 18px;
    padding: 7px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  
  select{
    font-size: 18px;
    border: 1px solid rgb(180, 180, 180);
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
  }


  button{
    background-color: #fff;
    border: solid rgb(250, 235, 208);
    color: rgb(145, 145, 145);
    font-size: 18px;	
    border-radius: 8px;
    height: 50px;
    width: 100px;
    line-height: 45px;
    text-align: center;
    float: right;
  }
  
  button:hover, button:active{
    outline: #6F4E37;
    background-color: #6F4E37;
    color: rgb(255, 255, 255);
    border: solid #6F4E37;
  }