<div class="form-froup row">

    
    <div class ="addRecipeWindow">
        <input type="text" class="form-control" [(ngModel)]="RecipeName" placeholder="Enter recipe name">
        <input class="steps" [(ngModel)]="step1" placeholder="step1">
        <input class="steps" [(ngModel)]="step2" placeholder="step2">
        <input class="steps" [(ngModel)]="step3" placeholder="step3">
        <input class="steps" [(ngModel)]="step4" placeholder="step4">
        <input class="steps" [(ngModel)]="step5" placeholder="step5">
        <input class="steps" [(ngModel)]="step6" placeholder="step6">
        <input class="steps" [(ngModel)]="step7" placeholder="step7">
        <input class="steps" [(ngModel)]="step8" placeholder="step8">
        <input class="steps" [(ngModel)]="step9" placeholder="step9">
        <input class="steps" [(ngModel)]="step10" placeholder="step10">
    
        <select type="text"  [(ngModel)]="RecipeIntentedUse">
            <option value="" disabled selected>Intended Use</option>
            <option value="Espresso">Espresso</option>
            <option value="Aeropress">Aeropress</option>
            <option value="FrenchPress">FrenchPress</option>
            <option value="Chemex">Chemex</option>
            <option value="Dripper">Dripper</option>
            <option value="MokaPot">MokaPot</option>
        </select>
        <select type="text"  [(ngModel)]="RecipeGrindLevel">
            <option value="" disabled selected>Grind Level</option>
            <option value="Fine">Fine</option>
            <option value="Coarse">Coarse</option>
        </select>
        <input type="text"  [(ngModel)]="RecipeCoffeeAmount" placeholder="Enter amount of coffee needed (grams)">
        <input type="text"  [(ngModel)]="RecipeWaterAmount" placeholder="Enter water amount (ml)">
        <input type="text"  [(ngModel)]="RecipeWaterTemperature" placeholder="Enter water temperature °C">
        <select id="coffeeManufacturer" 
        name="coffeeManufacturer" [(ngModel)] = "RecipeCoffeeId">
        <option value="" disabled selected>Coffee</option>
            <optgroup [attr.label]="coffee.name" *ngFor="let coffee of groupedArray">
                <option *ngFor="let coffe of coffee.values" 
                [value]="coffe.id">
                 {{coffe.name}}
                </option>
            </optgroup>
        </select>
    </div>
</div>
<button (click)="addRecipe()" *ngIf="recipe.id==0" [disabled]="!RecipeName || !RecipeIntentedUse || !RecipeCoffeeId || !RecipeWaterAmount || !RecipeWaterTemperature || !RecipeGrindLevel">
    Add
</button>
<button (click)="updateRecipe()" *ngIf="recipe.id!=0">
    Update
</button>